body {
  font-family: 'Comfortaa';
  background-color: black;
  color: white;
}

.mood-check {
  position: absolute;
  padding: 0 30px 30px 30px;
  top: 70%;
  left: 30%;
  z-index: 2;
  background-color: #6A359C;
  color: white;
}

.mood-buttons {
  font-family: inherit;
  padding: 20px;
  background-color: black;
  color: white;
  margin-right: 10px;
  margin-left: 60px;
  margin-top: 10px;
  border-radius: 10px;
  border: black;
  cursor: pointer;
}

.b1 {
  position: absolute;
  top: 35%;
  left: 10%;
  cursor: pointer;
  background-color: #6A359C;
  padding: 15px;
  font-size: 13px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

.b2 {
  position: absolute;
  top: 35%;
  left: 30%;
  cursor: pointer;
  background-color: #6A359C;
  padding: 15px;
  font-size: 13px;
  border-radius: 10px;
  text-decoration: none;
  color: white;
}

.music-link {
  text-decoration: none;
}

.heading {
  margin-left: 40%;
  margin-top: 2%;
  color: #6A359C;
  font-weight: 900;
  font-size: 40px;
}

.graph {
  margin-top: 20%;
  margin-left: 0;
  padding: 100px 30px 30px 30px;
  border: 5px solid #6A359C;
}

.mood-text {
  position: absolute;
  top: 20%;
  left: 10%;
}

.user-input {
  width: 30%;
  position: absolute;
  top: 65%;
  left: 60%;
  display: flex;
  flex-direction: column;
}

.daily-head {
  position: absolute;
  top: 52%;
  left: 45%;
}

.user-buttons {
  font-family: inherit;
  background-color: #6A359C;
  color: white;
  margin-top: 0;
  border-color: #6A359C;
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.input {
  margin-bottom: 20px;
}

.buttons-div {
  margin-left: 63%;
  margin-top: 0;
}

.mood-img {
  position: absolute;
  height: 30%;
  width: 30%;
  left: 70%;
  top: 10%;
}

.weekly-log {
  margin-top: 5%;
  margin-left: 0;
  padding: 50px 30px 30px 30px;
  border: 5px solid #6A359C;
}

.weekly-head {
  position: absolute;
  top: 148%;
  left: 40%;
}

#myChart2 {
  margin-top: 6%;
  margin-left: 15%;
}
